@charset "UTF-8";

header {
    height: 25px;
    padding-bottom: 20px;
    background-color: rgba(192, 192, 192, 0.8);
}

.header-logo {
    float: left;
    font-size: 3vw;
}

.box {
    /*  text-align: center; */
    margin: 1% 15% 1% 15%;
}

.box select {
    font-size: 40px;
}

.text_box {
    display: inline;
    
}

.text_box input[type="text"] {
    width: 40%;
    height: 100px;
    margin: 1% 10% 3% 10%;
    font-size: 2vw;
}

.trigger {
    padding: 20px 0px;
}

.subtitle {
    background-color:#99CCFF;
    text-align: center;
    margin: 5% 10% 3%;
}

h3 {
    font-size: 4vw;
    color: #00008B;
}

.exchange {
    text-align: center;
}

.exchange_btn {
    width: 15%;
    font-size: 40px;
}

